/* SpaceMono Regular */
@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* SpaceMono BoldItalic */
@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* SpaceMono Italic */
@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Poppins Light */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Poppins Medium */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
