/* Display */
.d-flex {display: flex;}
.d-block {display: block;}

/* Scrolling */
.no-scroll {overflow: hidden;}

/* Visibility */
.hidden {display: none;}
.show {display: block;}

/* Text */
.nowrap {white-space: nowrap;}

/* Animations */
.fade-in {animation: fade-in 0.3s forwards;}
.fade-out {animation: fade-out 0.3s forwards;}