/* Display */
.d-flex {display: flex;}
.d-block {display: block;}

/* Scrolling */
.no-scroll {overflow: hidden;}

/* Visibility */
.hidden {display: none;}
.show {display: block;}

/* Text */
.nowrap {white-space: nowrap;}