// Colors
$color-primary: #000;
$color-secondary:  #313144;
$color-text: #000;
$color-accent: #E00000;
$color-bg-header: #fff;
$color-bg-page: #fff;
$color-bg-btn: #D8D8D8;
$color-outline: #B8BBC2;

// Fonts
$font-primary: 'Space Mono';
$font-secondary: Poppins;

// Burger (menu)
$burger-bg: transparent;
$burger-color: black;
$burger-lines-width: 27px;
$burger-lines-thickness: 1px;
$burger-duration: 0.5s;

// Container
$container: 1148px;

// Modal box
$modal-box-width: 597px;
$modal-box-height: 769px;

// Breakpoints - All breakpoints uses max-width for inherit styles
$breakpoint-laptop: 1100px; // laptop
$breakpoint-tablet-extra: 943px; // Tablet (landscape)
$breakpoint-tablet: 868px; // Tablet (portrait)
$breakpoint-mobile: 600px; // Mobile